@import "tailwindcss";

@theme {
  --animate-open-icons: open-icons .5s ease-in-out forwards;
  --animate-close-icons: close-icons .5s ease-in-out forwards;

  @keyframes open-icons {
    0% {
      width: 0;
    }
    100% {
      width: auto;
    }
  }

  @keyframes close-icons {
    0% {
      width: auto;
    }
    100% {
      width: 0;
    }
  }
}